<div class="menuContainer">
    <ul>
      <li> <%= link_to "Strona glowna", :controller => :menu, :action => :_click, :buttonNumber => 1  %></li>
      <li> <%= link_to "Formularz standardowy", :controller => :menu, :action => :_click, :buttonNumber => 2  %></li>
      <li> <%= link_to "Formularz formtastic", :controller => :menu, :action => :_click, :buttonNumber => 3  %></li>
    </ul>
</div>